*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

.categoria__h1{
    text-align: center;
}

/* CATEGORIA */
.categoria__imagens{
    text-align: center;  
}

/* PRODUTOS */

.layout-produtos{
    display: flex;
}

.produtos__h1{
    text-align: center;   
}

.produtos{
    width: 26%;
    display: flex;
    padding: 15px;  
    margin-right: 15px;  
}
.produtos:hover{
    border: 1px solid;
    padding: 1px;
}

.produtos__imagens{
    width: 100%;
}

.produtos__botao{
    text-align: center;
    margin-bottom: 15px;
    transition: ease 40s;
}

.pbotao__carrinho{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

.pbotao__carrinho:hover, .pbotao__carrinho:focus{
    background-color: rgb(49, 49, 49);
}