body {
    background: linear-gradient(rgb(255, 166, 0) 10% , rgb(255, 253, 253) 40%); /*ADICIONEI - THEO*/
    width: 100%; /*ADICIONEI - THEO*/
    height: 100%; /*ADICIONEI - THEO*/
    margin-bottom: 1000px; /*ADICIONEI - THEO*/
    overflow: hidden; /*ADICIONEI - THEO*/
}

.formulario {
    text-align:center;
    margin-top: 200px;  /*ADICIONEI - THEO*/
}


.login {
    padding: 20px;
    margin: 10px;
    width: 400px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
}

input:focus{
    border-color: darkorange;
    border-width: 2px;
    outline: none;
}

.botao_entrar {
    background-color: orange;
    color: white;
    width: 400px;
    padding: 20px;
    margin:10px;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column; 
}

.botao_entrar:hover {
  background-color: darkorange;
  cursor: pointer;
}


.caixa_login {
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    background-color: white;
}

.recuperacao_senha {
    border:none;
    background: none;
    color: darkorange;
    font-size: 16px;
}

.recuperacao_senha:hover {
  text-decoration: underline;
  cursor: pointer;
}

.criar_conta {
    width: 200px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}


.criar_conta:hover {
    background-color: #897878;
    cursor: pointer;
}


hr {
    width: 400px;
    color: rgba(128, 128, 128, 0.5);
}